@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nanum+Gothic&family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}


.animation {
    animation: slide 300ms ease-in-out;
    right: 3rem;
}

@keyframes slide {
    0% {
        right: -30rem;
    }
    100% {
        right: 3rem;
    }
}

h1 {
    @apply text-3xl sm:text-5xl font-bold
}

h2 {
    @apply text-2xl sm:text-4xl font-bold
}

h3 {
    @apply text-sm md:text-3xl md:font-bold
}

h4 {
    @apply sm:text-2xl font-bold
}

h5 {
    @apply text-sm sm:text-xl font-bold
}

h6 {
    @apply text-xs sm:text-lg font-bold
}

p {
    @apply text-sm sm:text-lg
}

.scrollbar-hide::-webkit-scrollbar{
    display: none
}

.mapContainer {
    height: 100%;
    width: 100%;
}

.scrollbar::-webkit-scrollbar{
    width: 11px;
}

.scrollbar::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 2rem;
}

.scrollbar::-webkit-scrollbar-thumb{
    background: linear-gradient(#c084fc, #7e22ce ) ;
    border-radius: 2rem;
}

.scrollbar::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(#7e22ce, #c084fc) ;
}

.grow{
    display: flex;
    align-items: center;
    gap: 5vw;
}


@media (max-width: 480px) {
    .responsive {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}

#daily-calories::placeholder,
#meal-number::placeholder,
#carb-distribution::placeholder,
#fat-distribution::placeholder,
#protein-distribution::placeholder {
    color: white;
}


nav .mobile-navigation {
    display: none;
}

@media (max-width: 990px) {
    nav .navigation {
        display: none;
    }

    nav .mobile-navigation {
        display: flex;
    } 
}