@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nanum+Gothic&family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

/* h1 {
    @apply text-3xl sm: text-5xl font-bold
}

h2 {
    @apply text-2xl sm: text-4xl font-bold
}

h3 {
    @apply text-xl sm: text-3xl font-bold
}

h4 {
    @apply sm: text-2xl font-bold
}

h5 {
    @apply text-sm sm: text-xl font-bold
}

h6 {
    @apply text-xs sm: text-lg font-bold
}

p {
    @apply text-sm sm: text-lg
} */

.scrollbar-hide::-webkit-scrollbar{
    display: none
}

.mapContainer {
    height: 100%;
    width: 100%;
}

.scrollbar::-webkit-scrollbar{
    width: 11px;
}

.scrollbar::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 2rem;
}

.scrollbar::-webkit-scrollbar-thumb{
    background: #4282ea;
    border-radius: 2rem;
}

.scrollbar::-webkit-scrollbar-thumb:hover{
    background: #9a1fe2;
}



@media (max-width: 480px) {
    .responsive {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}